[Desktop Entry]
# Update App icon to reflect current FNMODE value 
Version=1.0
Type=Application
Name=FN Update Icon
Icon=fn-detecting
Exec="rm ${HOME}/.config/fn-toggle/fn-toggle.conf && fn-update-icon.sh"
Categories=Utility
X-GNOME-Autostart-Delay=5
