[Desktop Entry]
Version=1.0
Type=Application
Name=FN Toggle Autostart
Icon=fn-unlock
Exec=fn-autostart.sh
Categories=Utility
X-GNOME-Autostart-Delay=5
