[Desktop Entry]
Version=1.0
Type=Application
Name=FN Toggle
Comment=Toggle Function Keys on Mac keyboard
Exec=fn-toggle.sh
Categories=Utility
Icon=fn-detecting
